/* Site dimensions and colors */

main_width = 100%
min_width = 455px
max_width = 1000px
background_color = #33342D
content_background_color = #46483E
title_color = #D2D8BA
title_font = 'Bigelow Rules', cursive
text_color = white
text_grey = #999
text_green = #8CC84B
text_red = red
border_grey = text_grey;
link_color = #777
link_hover_color = #999




/* Main construction */

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: background_color;
	color: text_color;
}

html {
	overflow: auto;
}

body {
	font-size: 0.8em;
	font-family: Arial, sans-serif;
}

button {
	cursor: pointer;
}


.green {
	color: text_green;
}



#main {
	width: main_width;
	min-width: min_width;
	height: 100%;
	margin: auto;
}


#header {
	width: 100%;
	height: 74px;
	min-width: min_width;
	border-bottom: black solid 1px;
	background: content_background_color;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;

	& > div {
		max-width: max_width;
		margin: auto;
		text-align: left;
	}

	h1 {
		float: left;
		margin: 0px 0 5px 20px;
		text-align: right;
		font-size: 3.5em;

		a {
			display: block;
			text-decoration: none;
			color: link_color;
		}

		span {
			
			&.title-part {
				display: block;
				font-family: title_font;
			}

			&.description {
				font-size: 0.3em;
				color: grey;
				font-family: "Courier New";
			}
		}
	}

	#login-ctnr {
		float: right;
		margin: 15px 20px 10px 0;
		text-align: right;

		#status {
			margin-bottom: 5px;
			color: text_grey;

			.connected {
				color: text_green;
			}
			.disconnected {
				color: text_red;
			}
		}
	}
}

#content {
	margin: 0px auto 20px auto;
	padding-top: 110px;
	// background: content_background_color;
	color: text_color;
	max-width: max_width;

	#menu-ctnr {
		float: left;
		width: 200px;
		margin: 0 20px 10px 0;
	}
	#page-content {
		display: table;
		width: 100%;
		min-width: min_width;
		padding-bottom: 20px;
	}
}

.page-title {
	width: 90%;
	margin: 0 auto 20px auto;

	h2 {
		font-style: italic;
		color: text_grey;
	}
}

#concerts {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;

	li.concert {
		width: 90%;
		border: border_grey solid 1px;
		text-align: left;
		margin: 0 auto 10px auto;
		background: content_background_color;

		a {
			display: block;
			width: 100%;
			height: 100%;
			color: text_color;
			text-decoration: none;
			font-size: 16px;
			font-weight: bold;

			span {
				display: block;
				padding: 10px 10px;

				&.title {
					float: left;
				}
				&.date {
					float: right;
				}
			}
		}
		a:hover {

		}
	}
}

#concert-edit {
	div.input-block {
		margin: 0 20px;
	}

	input {
		color: text_color;
		background: background_color;
		outline: none;
		border: border_grey dashed 1px;
		border-width: 0 0 1px 0;
		width: 250px;
	}

	input.title-input {
		border: 0;
		width: 100%;
		height: 30px;
		font-size: 20px;
		font-weight: bold;
	}
}

#concert-details {
	h2 {
		font-size: 20px;
		margin-bottom: 5px;

		span {
			display: block;
			padding: 0 20px;
		}
	}

	.underline {
		border-bottom: border_grey solid 1px;
		margin-bottom: 20px;
	}

	.description {
		font-style: italic;
		color: text_grey;
		margin: 0 40px 10px 40px;

		.item {
			font-style: normal;
			color: text_color;
			margin-bottom: 10px;

			span.label {
				display: block;
				float: left;
				width: 100px;
				font-size: 1.1em;
				font-weight: bold;
				color: text_grey;
			}

			span.content {
				display: table;
			}
		}
	}

	.songs-list {
		margin: 10px 40px 0 40px;
		padding: 0;
		list-style: none;
		max-width: 400px;

		li {
			height: 25px;
			margin: 0;
			padding: 0;
			border: border_grey solid 1px;
			border-radius: 2px;
			margin-bottom: 5px;
			position: relative;

			span {
				display: block;
				padding: 5px;
				float: left;

				&.checkbox {
					display: block;
					border: border_grey solid 1px;
					width: 5px;
					height: 5px;
					border-radius: 2px;
					margin: 4px 10px 0 5px;
				}

				&.other-votes {
					display: block;
					float: right;
					margin: 0 5px 0 10px;
					font-weight: bold;
					font-size: 1.2em;

					img {
						height: 12px;
					}
				} 
			}

			&.selected {
				background: content_background_color;

				span.checkbox {
					color: text_green;

					span {
						position: relative;
						top: -11px;
						left: -9px;
					}
				}
			}

			&.connected {
				cursor: pointer;
			}
		}
	}
}




/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }