<template name="concert">
{{#if currentPage}}

	<div id="concert-details">
	{{#with concert}}
		<h2>
			<span>{{label}}, {{venue.name}} @ {{formated_time}}, {{formated_date}}</span>
		</h2>

		<div class="description">
			<div class="ui-helper-clearfix item">
				<span class="label">Quand ?</span>
				<span class="content">
					{{formated_datetime}}
				</span>
			</div>
			<div class="ui-helper-clearfix item">
				<span class="label">Où ?</span>
				<span class="content">
					{{venue.name}}<br>
					{{venue.address}}<br>
					{{venue.zip}} {{venue.city}}
				</span>
			</div>
		</div>

		<h2>
			<span>Chansons</span>
		</h2>

		<div class="description">
			{{#if currentUser}}
				Vote pour les chansons que tu voudrais entendre au concert
			{{else}}
				Connecte-toi pour pouvoir voter pour les chansons que tu voudrais entendre au concert
			{{/if}}
		</div>

		<ul class="songs-list">
		{{#each songs}}
			<li class="{{#if hasMyVote}}selected{{/if}}{{#if currentUser}} connected{{/if}}">
				{{#if currentUser}}
				<span class="checkbox">
					{{#if hasMyVote}}<span>&#10004;</span>{{/if}}
				</span>
				{{/if}}
				<span>{{name}}</span>
				{{#if currentUser}}
				<span class="other-votes" title="Le nombre total de votes pour cette chanson">
					<img src="/images/thumbsup.png">
					{{voteCount}}
				</span>
				{{/if}}
			</li>
		{{/each}}
		</ul>
	{{/with}}
	</div>

{{/if}}
</template>