<template name="concert_detail">
{{#if current_page}}


	{{#with concert}}
		{{#if ok}}
			{{#if edit}}
			<form id="concert-edit" action="/concert-edit" method="post">
			{{/if}}

			<div id="concert-details">
				{{! Concert title }}
				<div class="underline">
					{{#if edit}}
					<div class="input-block">
						<input type="text" id="concert-title" name="concert-title" value="{{label}}" class="title-input" placeholder="Write the concert title here...">
					</div>
					{{else}}
					<h2>
						<span>{{label}}, {{venue.name}} @ {{formated_time}}, {{formated_date}}</span>
					</h2>
					{{/if}}
				</div>

				{{! Concert description }}
				<div class="description">
					{{! Concert date }}
					<div class="ui-helper-clearfix item">
						<span class="label">When ?</span>
						<span class="content">
							{{#if edit}}
								<input type="text" id="concert-date" name="concert-date" value="{{formated_date}}">
							{{else}}
								{{formated_datetime}}
							{{/if}}
						</span>
					</div>
					{{! Concert location }}
					<div class="ui-helper-clearfix item">
						<span class="label">Where ?</span>
						<span class="content">
							{{#if edit}}
								<input type="text" id="concert-location" name="concert-location" value="{{venue.name}}">
							{{else}}
								{{venue.name}}<br>
								{{venue.address}}<br>
								{{venue.zip}} {{venue.city}}
							{{/if}}
						</span>
					</div>
				</div>

				<div class="underline">
					<h2>
						<span>Set list</span>
					</h2>
				</div>

				<div class="description">
					{{#if edit}}
						Insert an extensive list of your songs.
						People will then be able to construct the set list they want for the gig out of it.<br>
						JukeboxLive's algorithm will then generate a set list from the collected data.
					{{else}}
						{{#if currentUser}}
							Vote for the songs you would like to hear at the gig
						{{else}}
							Login to vote for the songs you would like to hear at the gig
						{{/if}}
					{{/if}}
				</div>

				<ul class="songs-list">
					{{#if edit}}
						
					{{else}}
						{{#each songs}}
							<li class="{{#if has_my_vote}}selected{{/if}}{{#if currentUser}} connected{{/if}}">
								{{#if currentUser}}
								<span class="checkbox">
									{{#if has_my_vote}}<span>&#10004;</span>{{/if}}
								</span>
								{{/if}}
								<span>{{name}}</span>
								{{#if currentUser}}
								<span class="other-votes" title="Le nombre total de votes pour cette chanson">
									<img src="/images/thumbsup.png">
									{{vote_count}}
								</span>
								{{/if}}
							</li>
						{{/each}}
					{{/if}}
				</ul>
			</div>
		
			{{#if edit}}
			</form>
			{{/if}}
		{{else}}
			<div class="error">{{concert.err}}</div>
		{{/if}}
	{{/with}}

{{/if}}
</template>