<head>
	<title>Jukebox Live</title>
	
	<!-- <link href='http://fonts.googleapis.com/css?family=New+Rocker' rel='stylesheet' type='text/css'> -->
	<link href='http://fonts.googleapis.com/css?family=Bigelow+Rules' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/jquery/smoothness/jquery-ui-1.9.1.css">
</head>

<body>
	<div id="main">
		{{> header}}
		{{> content}}
	</div>
</body>

<template name="header">
	<div id="header">
		<div class="ui-helper-clearfix">
			<h1>
				<a href="/">
					<span class="title-part">
						<span class="green">Juke</span>Box <span class="green">L</span>ive
					</span>
					<span class="title-part description">Super Alpha</span>
				</a>
			</h1>
			<div id="login-ctnr">
				<div id="status">
					Server Status:
					{{#if connected}}<span class="connected">Connected
					{{else}}<span class="disconnected">Disconnected
					{{/if}}</span>
				</div>
				{{loginButtons align="right"}}
			</div>
		</div>
	</div>
</template>

<template name="content">
	<div id="content" class="ui-helper-clearfix">
		<div id="page-content">
			{{> band}}
			{{> concert_detail}}
			{{> concerts}}
			{{> about}}
		</div>
	</div>
</template>
