/* Site dimensions and colors */

main_width = 100%;
min_width = 250px;



/* Main construction */

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

html {
	overflow: auto;
}

body {
	font-size: 0.8em;
	font-family: Arial, sans-serif;
}



#main {
	width: main_width;
	min-width: min_width;
	height: 100%;
	margin: auto;
}


#header {
	width: 100%;
	border-bottom: black solid 1px;

	& > div {

	}

	h1 {
		float: left;
		margin: 10px 0 10px 20px;
		text-align: right;

		a {
			display: block;
			text-decoration: none;
			color: black;
		}

		span {
			display: block;

			&.description {
				font-size: 0.5em;
				color: grey;
				font-family: "Courier New";
			}
		}
	}

	#login-ctnr {
		float: right;
		margin: 20px 20px 10px 0;
	}
}

#content {
	margin: 10px 20px 20px 20px;

	#menu-ctnr {
		float: left;
		width: 200px;
		margin: 0 20px 10px 0;
	}
	#page-content {
		display: table;
		min-width: 200px;
		padding-bottom: 20px;
	}
}