<template name="band">
{{#if currentPage}}

	<!-- <h1>{{band.name}}</h1>
	
	<div class="description">
		{{band.description}}
	</div> -->

	<div id="concerts">
	{{#each concerts}}
		<div class="concert">
			<h2>
				<span>{{label}}, {{venue.name}} @ {{formated_time}}, {{formated_date}}</span>
			</h2>

			<div class="description">
				<div class="ui-helper-clearfix item">
					<span class="label">Quand ?</span>
					<span class="content">
						{{formated_datetime}}
					</span>
				</div>
				<div class="ui-helper-clearfix item">
					<span class="label">Où ?</span>
					<span class="content">
						{{venue.name}}<br>
						{{venue.address}}<br>
						{{venue.zip}} {{venue.city}}
					</span>
				</div>
			</div>

			<h2>
				<span>Chansons</span>
			</h2>

			<div class="description">
				Vote pour les chansons que tu voudrais entendre au concert
			</div>

			<ul class="songs-list">
			{{#each songs}}
				<li {{#if hasMyVote}}class="selected"{{/if}}>
					<span class="checkbox">
						{{#if hasMyVote}}<span>&#10004;</span>{{/if}}
					</span>
					<span>{{name}}</span>
				</li>
			{{/each}}
			</ul>
		</div>
	{{/each}}
	</div>

{{/if}}
</template>