<template name="concert_detail">
{{#if current_page}}


	{{#with concert}}
		{{#if ok}}
		<div id="concert-details">
			<h2>
				<span>{{label}}, {{venue.name}} @ {{formated_time}}, {{formated_date}}</span>
			</h2>

			<div class="description">
				<div class="ui-helper-clearfix item">
					<span class="label">When ?</span>
					<span class="content">
						{{formated_datetime}}
					</span>
				</div>
				<div class="ui-helper-clearfix item">
					<span class="label">Where ?</span>
					<span class="content">
						{{venue.name}}<br>
						{{venue.address}}<br>
						{{venue.zip}} {{venue.city}}
					</span>
				</div>
			</div>

			<h2>
				<span>Songs</span>
			</h2>

			<div class="description">
				{{#if currentUser}}
					Vote for the songs you would like to hear at the gig
				{{else}}
					Login to vote for the songs you would like to hear at the gig
				{{/if}}
			</div>

			<ul class="songs-list">
			{{#each songs}}
				<li class="{{#if has_my_vote}}selected{{/if}}{{#if currentUser}} connected{{/if}}">
					{{#if currentUser}}
					<span class="checkbox">
						{{#if has_my_vote}}<span>&#10004;</span>{{/if}}
					</span>
					{{/if}}
					<span>{{name}}</span>
					{{#if currentUser}}
					<span class="other-votes" title="Le nombre total de votes pour cette chanson">
						<img src="/images/thumbsup.png">
						{{vote_count}}
					</span>
					{{/if}}
				</li>
			{{/each}}
			</ul>
		</div>
		

		{{else}}
			<div class="error">{{concert.err}}</div>
		{{/if}}
	{{/with}}

{{/if}}
</template>